@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Alex's BugTracker</h1>
                <p>This is an issue tracker, built with ASP.NET Core 5, using MVC architecture.</p>
            </div>
        </div>

        <div class="container">
            <h2>Create an account and start working on your projects.</h2>
            <br/>
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Projects</h2>
                    <p>Create new projects and  the collaboration in your team.</p>
                </div>
                <div class="col-md-4">
                    <h2>Tasks</h2>
                    <p>Set the project's goals and start building dividing the work.</p>
                </div>
                <div class="col-md-4">
                    <h2>Activity</h2>
                    <p>Track your work and boost your productivity.</p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


</body>